[Desktop Entry]
Version=1.0
Name=Firefox (LifeOS)
Name[es]=Firefox (LifeOS)
GenericName=Web Browser
GenericName[es]=Navegador web
Comment=Browse the World Wide Web
Comment[es]=Navegue por la web
Exec=env MOZ_ENABLE_WAYLAND=1 MOZ_DRM_DEVICE=/dev/dri/renderD128 /usr/bin/firefox --name=firefox-wayland %u
Icon=firefox
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupNotify=true
StartupWMClass=firefox-wayland
Keywords=web;browser;internet;
Keywords[es]=web;navegador;internet;
Actions=new-window;new-private-window;
X-Desktop-File-Install-Version=0.27

[Desktop Action new-window]
Name=Open a New Window
Name[es]=Abrir una nueva ventana
Exec=env MOZ_ENABLE_WAYLAND=1 MOZ_DRM_DEVICE=/dev/dri/renderD128 /usr/bin/firefox --name=firefox-wayland --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Name[es]=Abrir una nueva ventana privada
Exec=env MOZ_ENABLE_WAYLAND=1 MOZ_DRM_DEVICE=/dev/dri/renderD128 /usr/bin/firefox --name=firefox-wayland --private-window %u
